@import '../../styles/colors';

.mediaType__container {
    display: grid;
    place-items: center;
    width: 100%;
}

.genre-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s ease;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    padding-bottom: 3rem;


    h2 {
        font-size: 1.5rem !important;
    }

    a {
        width: 100%;
        text-decoration: none;
        color: white;
        border-radius: 0.5rem;
        display: grid;
        place-items: center;
        padding: 2rem 0;
        transition: all 0.5s ease;
        flex-grow: 1;
    }


    .even {
        background-color: $color-secondary;
    }

    .odd {
        background-color: $color-accent;
    }


}

.genre-container a:last-child {
    margin-bottom: 2rem;
}

.genre {
    :hover {
        cursor: pointer;
        background-color: #1b1b1b;
        scale: 1.1;
    }
}

@media screen and (min-width: 445px) {
    .genre-container {
        margin-top: 3rem;
        a {
            width: 40%;
        }
    }
}

@media screen and (min-width: 768px) {
    .genre-container {
        a {
            width: 30%;
            height: 10rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .genre-container {
        a {
            width: 15%;
            height: 10rem;
        }
    }
}
