@import '_colors.scss';
@import '_typography.scss';

body {
    background-color: $color-background;
    font-family: $--ff-primary;
    color: $color-text;
    height: 100vh;
    display: grid;
    overflow-x: hidden;
}

.main-container {
    width: 100vw;
}

h1 {
    font-weight: $--fw-light;
    font-size: $--fs-h-large;
}

h2 {
    &.medium {
        font-weight: $--fw-light;
        font-size: $--fs-h-small-medium;
    }

    &.small {
        font-weight: $--fw-normal;
        font-size: $--fs-h-small-medium;
    }

}

h3 {
    font-weight: $--fw-normal;
    font-size: $--fs-h-extra-small;
}

p {
    &.medium {
        font-weight: $--fw-light;
        font-size: $--fs-b-medium;
    }

    &.small {
        font-weight: $--fw-light;
        font-size: $--fs-b-small;
    }
}


@media screen and (min-width: 1024px) {
    body {
        overflow-y: hidden;
    }

    .container {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-areas:
                "navigation container";
        padding: 1.5rem;
        position: relative;
    }

    .navbar {
        display: grid;
        grid-area: navigation;
        position: sticky;

    }

    .main-container {
        display: grid;
        grid-area: container;
        overflow-y: auto;
        height: 100vh;

        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;

        padding: 2rem;
    }


}

