@import '../../../styles/typography';

/* trending */

.trending__list-container {
    display: grid;
    overflow: hidden;
    width: 100%;

    .trending__list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        > * {
            width: 240px;
            flex-shrink: 0;
            margin-right: 1rem; /* optional margin between items */
        }

        img {
            opacity: 65%;
        }

        .item__group {
            display: flex;
            align-items: center;
            justify-content: start;
        }

        .media-list__item-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;

        }

        .media-list__item-icon[datatype='movie-icon'] {
            content: '';
            background: url('../../../assets/images/icon-category-movie.svg') no-repeat center center;
            height: 24px;
            width: 24px;
        }

        .media-list__item-icon[datatype='tv-icon'] {
            content: '';
            background: url('../../../assets/images/icon-category-tv.svg') no-repeat center center;
            height: 24px;
            width: 24px;
        }

        .item__group,
        h3 {
            position: relative;
            transform: translate(1rem, -3rem);
            padding-right: 2rem;
        }
    }


}


button {
    bottom: 0;

}

@media screen and (min-width: 1024px) {
    .trending__list-container {

        .trending__list {

            > * {
                width: 470px;
                flex-shrink: 0;
                margin-right: rem; /* optional margin between items */
            }
        }

        .item__group,
        h3 {
            position: relative;
            transform: translate(1rem, -4rem) !important;
            padding-right: 2rem;
            font-size: 1.25rem !important;
        }

        .media-list__item-icon {
            margin-left: 0.5rem !important;
        }
    }
}



