@import '../../styles/typography';

.media-container {
    max-width: 100%;
    display: grid;
    gap: 1.5rem;
    text-transform: capitalize;
    place-content: center;
    margin: 0 1rem;

    a {
        text-decoration: none;
        color: white;
    }

    .header__group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .category__section {
        width: 100%;
        display: grid;
        gap: 1.5rem;
    }

    .header__group {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }


    .category__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;

        a {
            width: 47%;
        }
    }

    .media-list__item-icon[datatype='movie-icon'] {
        content: '';
        background: url('../../assets/images/icon-category-movie.svg') no-repeat center center;
        height: 24px;
        width: 24px;
    }

    .media-list__item-icon[datatype='tv-icon'] {
        content: '';
        background: url('../../assets/images/icon-category-tv.svg') no-repeat center center;
        height: 24px;
        width: 24px;
    }

    .item__group {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .media-container {
        margin: 0;
        .media__list {
            width: 100%;
        }

        .category__list {
            a {
                width: 24%;
                flex-grow: 1;
                img {
                    object-fit: cover;
                }
            }
            h3 {
                font-size: 1.25rem !important;
            }
        }


    }


}


