@import '../../styles/typography';

.media-container {
    max-width: 100vw;
    padding: 1rem;
    display: grid;
    gap: 1.5rem;
    text-transform: capitalize;

    .header__group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    h1 {
        font-size: 1.5rem
    }

}

