@import '../../styles/typography';
@import '../../styles/colors';


/* Form Search - Empty */
.form__search {
  display: flex;
  gap: 1.5rem;
  max-width: 23.8125rem;
  max-height: 2rem;
  width: 100%;
  height: 100%;

  input {
    background-color: transparent;
    border: none;

    /* Heading (M) */
    font-family: $--ff-primary;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;

    /* Pure White */
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;

  }
}

.search__icon[datatype="search-icon"] {
  content: "";
  background: url("../../assets/images/icon-search.svg") no-repeat;
  width: 32px;
  height: 32px;
  aspect-ratio: 1 / 1;

}

/* Form Search - Active */



